
/*
* {
  border: dashed 1px red;
}
*/

.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75px;
}

.App-header {
  background-color: #708090;
  width: 100%;
  height: 175px;
  padding: 1rem;
  color: white;
}

.App-intro {
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .components {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .comp-container {
  flex-basis: 20%;
  height: 10rem;
  padding: 2rem;
  margin: 2px;
  text-align: center;
  border: solid darkgray 2px;
 }

.App h5 {
  display: block;
  font-size: 0.83em;
  -webkit-margin-before: 0.5rem;
  -webkit-margin-after: 0.5rem;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;

  margin-top: .05rem;
}

.x-button {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  transition: top 0.1s;
}

.x-button:hover {
  top: 17px;
}

.search {
  position: relative;
  left: 25px;
}
